body{
	background-image: url(IMAGES/pozadi.png);
	background-color: lightgrey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
p1{
	text-align: center;
	align-items: center;
	display: inline-block;
	gap: 30px;
	justify-content: center;
	font-weight: 650;
	color: black;
	font-size: 35px;
	padding: 10px, 15px;
	text-decoration: none;
	margin-left: 120px;
	margin-top: 60px;
	top: 30px;
}
p2{
	text-decoration: none;
	font-size: 30px;
	text-align: justify;
	width: 500px;
	padding: 1px;
	display: flex;
	/*gap: 10px;*/
	margin-top: 120px;
	margin-left: 120px;
	font-weight: 650;
	color: black;
}
p3{
	font-size: 25px;
	text-align: justify;
	width: 500px;
	padding: 1px;
	font-weight: 650;
	display: flex;
	margin-left: 120px;
}
p4{
	font-size: 25px;
	text-align: justify;
	width: 500px;
	padding: 1px;
	display: flex;
	margin-left: 120px;
	font-weight: 650;
}
p5{
	font-size: 25px;
	font-weight: 650;
	width: 700px;
	padding: 1px;
	display: flex;
	margin-left: 120px;
}
h1{
	font-size: 30px;
	text-align: justify;
	width: 500px;
	padding: 15px;
	position: absolute;
	top: 100px;
	left: 100px;
	font-weight: 650;
}
h3{
	color: black;
	font-size: 25px;
	text-align: justify;
	width: 600px;
	padding: 15px;
	position: absolute;
	top: 155px;
	left: 120px;
	font-weight: 650;
}
img {
	transform: translate(700px, 1px);
}
.fotky{
	display: flex;
	margin-left: 80px;
	margin-top: 80px;
}
.jezdci{
	display: flex;
	margin-left: 80px;
	margin-top: 120px;
}
.video{
	display: flex;
	margin-left: 120px;
}